/* integraçao inicial*/


h1 {color:rgb(0, 255, 26);
}

/* comentarios css*/

/*id*/
h3{color:blueviolet;
}
#t{

   color:blue; 
}

/*class*/
.text{color:blueviolet;}

/* background */

.background {background-color: red;
color:blue;
font: size 30px;;
}
/*2 elementos 1 regra*/
p, 
.title-small {color:darkmagenta }

.title-small{
    font-size: 25px;
}

/*background image */

.background-image {
    background-image: url("../img/meteoro.jpg");
    padding: 20px; 
    color:white
}

/*largura e altura*/

#width-height{
width: 200px;
height:100px;
background-color: black;
}
